include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include p4c_bm *.json

recursive-include p4c_bm *.c
recursive-include p4c_bm *.h

recursive-include docs *.rst conf.py Makefile make.bat
